{% include'admin_header.html' %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
<form method="post">
		<center>

						<h2>Send Operation Date</h2>
			<table class="table" style="width: 600px;color: white">
				<tr>
					<th>Date</th>
					<td><input type="date" name="dt" required="" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="send" value="Send" class="btn btn-info"></td>
				</tr>
			</table>
						 </div>
  </section><!-- End Hero -->
	


		</center>
	</form>
{% include'footer.html' %}
