{% include 'public_header.html' %}
   

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      
  

  	<br><br><br><br><br>
     	<form method="post">
		<center>
			<h2 style="color: black;font-size: 50px">LOGIN</h2>
			<table class="table" style="width: 500px;color: black;background-color: rgba(100,100,100,0.4);">
				<tr>
					<th>Username</th>
					<td><input type="text" name="uname" class="form-control" required></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="pwd" class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-danger"></td>
				</tr>
			</table>
		</center>
	</form>
								
   
       

							
							
		  </div>
  </section><!-- End Hero -->
		
					

	
{% include'footer.html' %}