{% include'userheader.html' %}


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height: 500px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Organ Donation</h1>
    </div>
  </section><!-- End Hero -->
  
<center>
	<h2>Hospital</h2>
			<table class="table" style="width: 800px">
				<tr>
					<th>Sl.no</th>
					<th>Name</th>
					<th>Place</th>
					<th>Phone</th>
					<th>Email</th>
					<!-- <th>Status</th> -->
				</tr>
				{% for row in data['hos'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['hospital_name']}}</td>
					<td>{{row['place']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
				</tr>
				{% endfor %}
			</table>

</center>

{% include'footer.html' %}